*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

.btn{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
    border: none;
}